:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#tick {
  height: 20px;
  width: 20px;
}

.user {
  height: 100%;
  width: 45px;
}

.navbar {
  top: 0;
  background-color: grey;
  display: flex;
  width: 100%;
  position: fixed;
  flex-wrap: wrap;
}

.navbar .product_logo {
  flex: 1.5;
}

.navbar .product_logo .logo {
  height: 70px;
  width: 100%;
  flex: 0.5;
  padding-left: 3px;
  padding-right: 3px;
}

.navbar .search {
  flex: 6;
  display: flex;
  flex-direction: row;
}

.navbar .search #search_box {
  margin: 2.5%;
  height: 90%;
  width: 100%;
}

.navbar .options {
  flex: 3;
  margin: auto;
  display: flex;
  align-items: center;
}

.navbar .options .features {
  flex: 3;
}

.navbar .options .features ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10%;
}

.navbar .options .current_user {
  padding-left: 5%;
  padding-right: 5%;
}

ul {
  list-style: none;
}

.wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: ' top-screen top-screen top-screen top-screen' ' left-nav tasks tasks tasks' ' left-nav tasks tasks tasks';
}

.wrapper .top-screen {
  grid-area: top-screen;
  width: 100%;
  height: 20%;
}

.wrapper .top-screen img {
  width: 100%;
  height: 20em;
}

.wrapper .left-nav {
  grid-area: left-nav;
  padding: 1%;
  margin: 2%;
  background-color: #413737;
  display: flex;
  flex-direction: column;
  width: 17vw;
}

.wrapper .left-nav ul {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  padding: 10%;
  width: auto;
}

.wrapper .left-nav ul li {
  font-size: medium;
  text-align: center;
  min-width: 100%;
}

.wrapper .left-nav ul li .icon_button {
  display: flex;
  border-radius: 10%;
  margin: 4% 0%;
  font-size: small;
}

.wrapper .left-nav ul li .icon_button .small_icon {
  padding: 1%;
}

.wrapper .left-nav ul li .icon_button .button {
  margin: 0 10%;
}

.wrapper .left-nav ul li a {
  color: #796b6b;
  text-decoration: none;
}

.wrapper .left-nav ul .icon_button:hover {
  background-color: #630763;
}

.wrapper .left-nav ul .icon_button:hover a {
  color: #ddd;
}

.wrapper .left-nav ul .icon_button:hover .small_icon {
  background-color: #ddd;
  border-radius: 15%;
}

.wrapper .tasks {
  grid-area: tasks;
  display: flex;
}

.wrapper .tasks .heading {
  text-align: center;
  background-color: #978383;
  padding: 2.5%;
  margin: 2%;
}

.wrapper .tasks .todo {
  flex: 1 1 0;
}

.wrapper .tasks .inprogess {
  flex: 1 1 0;
}

.wrapper .tasks .completed {
  flex: 1 1 0;
}

.wrapper .tasks .card {
  background: var(--primary);
  text-align: center;
  padding: 1% 1%;
  margin: 3%;
  box-shadow: var(--shadow);
  display: grid;
  height: auto;
}

.wrapper .tasks .card .serial-date {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.wrapper .tasks .card .serial-date h6 {
  text-align: left;
}

.wrapper .tasks .card .serial-date p {
  text-align: right;
}

.wrapper .tasks .card .content {
  padding: 3%;
}

.wrapper .tasks .card .content h5 {
  font-size: medium;
}

.wrapper .tasks .card .content p {
  font-size: small;
}

.wrapper .tasks .card .icon-priority {
  display: flex;
  justify-content: space-between;
}

.wrapper .tasks .card .icon-priority .icon {
  display: flex;
}

.wrapper .tasks .card .icon-priority .icon .pic {
  flex: 1;
}

.wrapper .tasks .card .icon-priority .icon .pic .user {
  padding: 5%;
  max-height: 80%;
}

.wrapper .tasks .card .icon-priority .icon .name {
  flex: 1;
  padding-top: 10%;
  font-size: x-small;
}

.wrapper .tasks .card .icon-priority .priority {
  font-size: small;
  margin: 1%;
}

.wrapper .tasks .card .icon-priority .priority .btn {
  margin: 5%;
  color: #ddd;
  border-radius: 15%;
}

.wrapper .tasks .inprogess .btn {
  background-color: #c9c905;
}

.wrapper .tasks .todo .btn {
  background-color: red;
}

.wrapper .tasks .completed .btn {
  background-color: green;
}

@media (max-width: 700px) {
  .top-screen {
    grid-area: top-screen;
  }
  .tasks {
    grid-area: tasks;
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    background-color: red;
    grid-template-rows: 1fr 0.35fr 3fr;
    grid-template-areas: 'top-screen' 'left-nav' 'tasks';
  }
  .left-nav {
    width: 100vw;
    max-width: 100%;
    grid-area: left-nav;
    flex-direction: row;
    background-color: green;
  }
  .left-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
  }
}
