:root{
    --primary : #ddd;
    --dark : #333;
    --light: #fff;
    --shadow : 0 1px 5px rgba(104, 104, 104, 0.8);
}


*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}


#tick 
{
    height: 20px;
    width: 20px;
}

.user
{

    height: 100%;
    width: 45px;
    
}




// NAV BAR
.navbar
{
    top: 0;
    background-color: grey;
    display: flex;
    width: 100%;
    position:fixed;
    flex-wrap: wrap;

    .product_logo
    {
        flex: 1.5;
        .logo
        {
            height: 70px;
            width: 100%;
            flex: 0.5;
            padding-left: 3px;
            padding-right: 3px;
        }
    }
    

    .search
    {
        flex:6;
        display:flex;
        flex-direction :row;
        // justify-content:flex-start;
        

        #search_box
        {
            margin:2.5%;
            height: 90%;
            width: 100%;
        }
    }


    .options
    {
       
        flex: 3;
        margin: auto;
        display: flex;
        align-items: center;
        .features
        {
            flex:3;
            ul
            {
                display: flex;
                justify-content: space-around;
                // margin: 2% 10px;
                align-items: center;
                // margin: auto;
                padding-left: 10%;
            }
        }

        .current_user
        {
            padding-left: 5%;
            padding-right: 5%;

        }
        
        
    }


    
   

}

ul{
    list-style: none;
}






// WRAPPER

.wrapper
{
    display: grid;
    width: 100%;
    height: 100%;
   
    grid-template-areas:
    
    ' top-screen top-screen top-screen top-screen'
    ' left-nav tasks tasks tasks'
    ' left-nav tasks tasks tasks';
    
    
    .top-screen
    {
        grid-area: top-screen;
        // background-color: red;
        width: 100%;
        height: 20%;
        
        img{
            width: 100%;
            height: 20em;  

        }
    }



    // div
    // {
    //     border:1px dotted red;
    // }
    // left nav
    .left-nav
    {
        grid-area: left-nav;
        padding: 1%;
        margin: 2%;
        background-color: rgb(65, 55, 55);
        display: flex;
        flex-direction: column;
        ul{
            
            display: flex;
            flex-direction: column;
            justify-items: flex-start;
            align-items: center;
            padding: 10%;
            width: auto;
            li{
                
                .icon_button
                {
                    display: flex;
                    border-radius: 10%;
                    
                    margin: 4% 0%;
                    
                    font-size: small;

                    .small_icon
                    {
                        padding: 1%;
                       
                    }
                    .button{ 
                        margin: 0 10% ;  
                    }
                    
                }

                
                font-size: medium;
                text-align: center;
                min-width: 100%;
                
                a{
                    color: #796b6b;
                    text-decoration: none;
                }
            }

            .icon_button:hover{
                background-color: rgb(99, 7, 99);
                a{
                    color: #ddd;
                }
                .small_icon{
                    background-color: #ddd;
                    border-radius: 15%;
                }
            }
        }
        
        width: 17vw;
        // max-width: 450px;
  

    }

    .tasks
    {
        grid-area:tasks;
    
        display: flex;
      
        .heading{
            text-align: center;
           
            background-color: #978383;
            padding: 2.5%;
            margin: 2%;


            a{
                display: none;
            }
        }

        // making different tasks of equal size
        .todo
        {   
            
            flex: 1 1 0;
        }

        .inprogess
        {
            flex: 1 1 0;
        }

        .completed
        {
            flex: 1 1 0;
        }
        // done

        .card
        {
            background: var(--primary);
            text-align: center;
            padding: 1% 1%;
            margin: 3%;
            box-shadow: var(--shadow);
            // border: 1px dotted green;
            display: grid;           
            height: auto;
        


            
            .serial-date
            {
                
                padding: 0 3%;
                display:flex;
                // border: 2px dotted red;
                justify-content: space-between;
                flex-direction: row;

                h6{
                    text-align: left;
                }
                p{
                    text-align: right;
                }
            }

            .content
            {
               padding: 3%;
               h5{
                   font-size: medium;
               }
               p{
                   font-size: small;
               }
               text-align: left;
            }

            .icon-priority{
                
                display: flex;
                justify-content: space-between;

                .icon
                {
                   display: flex;
              
                   
                   .pic{
                      flex: 1;

                      .user{
                        padding: 5%;
                        max-height: 80%;
                      }
                   }

                   .name{
                       flex:1;
                       padding-top: 10%;
                       font-size: x-small;
                       

                   }
                }

                .priority{
                    
                    font-size: small;
                     margin: 1%;
                    .btn
                    {
                        margin: 5%;  
                        
                        color: #ddd;
                        border-radius: 15%;
                        
                    }
                    
                }

            }

        }


        .inprogess{
            .btn
            {
                background-color: rgb(201, 201, 5);
            }
        }
        .todo{
            .btn
            {
                background-color: red;
            }
        }
        .completed
        {
            .btn
            {
                background-color: green;
            }
        }

    }
}




@media  (max-width:700px)
{
    
    
    .wrapper{
        // background-color: red;
        // grid-template-rows: 1fr 1fr 3fr;
        grid-template-areas: 
        'top-screen'
        'left-nav'
        'tasks';



        .left-nav
        {
            grid-area: left-nav;
            width: 100%;

            margin: auto;
            ul
            {
                width: 100%;
                display: flex;
                column-gap: 0;
                align-items: center;
                flex-direction: column;
                margin: 0;
                padding: 0;
                
                .screens{
                    padding: 0;
                    margin: 10px;

                    .icon_button{
                       
                        text-align: center;
                        width: 50%;
                        margin: 0 auto;
                        padding: 5px auto;      
                    
                    }
                }
                
            }            
    
        }


        .top-screen{
            grid-area: top-screen;
        }
        
        .tasks{
            grid-area: tasks;
            display: flex;
            flex-direction: column;

            .heading
            {
                width: 95%;
                display: flex;
                justify-content: space-between;

                h{
                    display: inline-block;
            
                }
              
                a{
                   display: inline;
                   
                   padding-right: 10%;
                }
            }

            .cards
            {
                display: none;
            }
            .cards-responsive{
                display: block;
                
            }

            
        }
    

    }
    
    


   
    
}